*.ckpt
*.pt
*.pth
*.weights
*.pb
*.onnx
/sam2/checkpoints/

*.mp4
*.avi
*.gif
*.zip
*.tar.gz
/sam2/notebooks/videos/
/sam2/notebooks/images/

*.pkl
*.npz

__pycache__/
*.py[cod]
*$py.class
.venv
env/
venv/
.pytest_cache/

*.so
*.o
*.a
build/
dist/

node_modules/
sam2/demo/frontend/dist/
.eslintcache

.DS_Store
.DS_Store?
._*
Thumbs.db
.vscode/
_DATA/
