[submodule "dependencies/sam2"]
	path = dependencies/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "dependencies/phantom-hamer"]
	path = dependencies/phantom-hamer
	url = https://github.com/MarionLepert/phantom-hamer.git
[submodule "URDF/SO-ARM100"]
	path = URDF/SO-ARM100
	url = https://github.com/TheRobotStudio/SO-ARM100.git
[submodule "dependencies/MinkowskiEngine"]
	path = dependencies/MinkowskiEngine
	url = git@github.com:chenxi-wang/MinkowskiEngine.git
[submodule "dependencies/pytorch3d"]
	path = dependencies/pytorch3d
	url = git@github.com:facebookresearch/pytorch3d.git
[submodule "URDF/robotiq_arg85_description"]
	path = URDF/robotiq_arg85_description
	url = https://github.com/a-price/robotiq_arg85_description.git
