*.ckpt
*.pt
*.pth
*.weights
*.pb
*.onnx
/WiLoR/pretrained_models/
/sam2/checkpoints/

*.mp4
*.avi
*.gif
*.zip
*.tar.gz
/WiLoR/demo_img/
/sam2/notebooks/videos/
/sam2/notebooks/images/
/hand_object_detector/assets/
/Data/

*.pkl
*.npz
/WiLoR/mano_data/

__pycache__/
*.py[cod]
*$py.class
.venv
env/
venv/
.pytest_cache/

*.so
*.o
*.a
build/
dist/

node_modules/
sam2/demo/frontend/dist/
.eslintcache

.DS_Store
.DS_Store?
._*
Thumbs.db
.vscode/
